<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>About</h3>
                <p>  Baku, Azerbaijani Bakı, city, capital of Azerbaijan. It lies on the western shore of the Caspian Sea and the southern side of the Abşeron Peninsula, around the wide curving sweep of the Bay of Baku. ....</p>     <div class="read">
                    <a href="/About/Index/" class="btn btn-primary read-m">Read more...</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                @await Component.InvokeAsync("BlogLast3Post")

            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Subscribe to Mail Newsletter!</h2>
                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeFooterMail.cshtml")
              
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="https://ru-ru.facebook.com/mehribanaskerofa">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="twitter" href="https://www.instagram.com/mehribanaskerofa/">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                        
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    ©@DateTime.Now.Year Asp.Net Core 5.0 Project . All rights reserved. | Developed by
                    <a href="#">Mehriban Askerova</a>
                </p>

            </div>
        </div>

    </div>
</footer>