@using CoreProjectDemo.Controllers
@model EmployeeDTO

@{
    Layout = null;
}


<form method="post">
    <label>Employee name</label>
    <input type="text" asp-for="@Model.Name" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">Add</button>
</form>
