@using CoreProjectDemo.Controllers
@model List<EmployeeDTO>
@{
    Layout = null;
}

<h1>Employees</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td><a href="/Employee/DeleteEmployee/@item.ID" class="btn btn-outline-danger">delete</a></td>
            <td><a href="/Employee/EditEmployee/@item.ID" class="btn btn-outline-success">edit</a></td>
        </tr>
    }
</table>
<a href="/Employee/AddEmployee/" class="btn btn-outline-primary">Add new employee</a>