<div class="comment-top">
    <h4>Leave Your Comment!</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Name and Surname..." required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Subject..." required="">
            <textarea class="form-control" name="CommentContent" placeholder="Your comment..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Comment</button>
        </form>
    </div>
</div>