@model UserSignInViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Yazar Paneli</h1>
<br />
<h2>@ViewBag.v</h2>
<br />
<h3>Welcome @ViewBag.v2</h3>